<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Find A Doctor</title>
    <link rel="stylesheet" href="/public/css/main_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <main>
        {{#if authenticated}}
        {{!-- Nav Bar --}}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a id="nav_title" class="navbar-brand" href="/">Find a Doctor</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form id="search_form" class="d-flex">
                        <input id="search_term" class="form-control me-2" type="search" placeholder="Enter a speciality"
                            aria-label="Search">
                        <button id="search_btn" class="btn btn-dark" type="submit" disabled>Search</button>
                    </form>
                </div>
                {{! Auth Buttons }}
                <div id="auth_btns" class="nav-item" hidden>
                    <div class="container">
                        <button id="login_btn" type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#login-modal">Log In</button>
                        <button id="sign_up_btn" type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#sign-up-modal">Sign
                            Up</button>
                    </div>
                </div>
                {{! Username Dropdown }}
                <div id="user_dropdown_div" class="nav-item">
                    <div id="user_dropdown" class="dropdown">
                        <button id="username_btn" class="btn btn-dark dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">{{username}}</button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="/account/edit">Edit Account</a></li>
                            <li><a id="patient_page_link" class="dropdown-item"
                                    href="/appointments/userappointmentlist/{{userId}}">Patient Page</a></li>
                            <li><a id="logout_link" class="dropdown-item" href="/account/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        {{else}}
        {{!-- Nav Bar --}}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a id="nav_title" class="navbar-brand" href="/">Find a Doctor</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form id="search_form" class="d-flex">
                        <input id="search_term" class="form-control me-2" type="search" placeholder="Enter a speciality"
                            aria-label="Search">
                        <button id="search_btn" class="btn btn-dark" type="submit" disabled>Search</button>
                    </form>
                </div>
                {{! Auth Buttons }}
                <div id="auth_btns">
                    <div class="container">
                        <button id="login_btn" type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#login-modal">Log In</button>
                        <button id="sign_up_btn" type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#sign-up-modal">Sign
                            Up</button>
                    </div>
                </div>
                {{!-- User Dropdown --}}
                <div id="user_dropdown_div" hidden>
                    <div id="user_dropdown" class="dropdown">
                        <button id="username_btn" class="btn btn-dark dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="/account/edit">Edit Account</a></li>
                            <li><a id="patient_page_link" class="dropdown-item" href="#">Patient Page</a></li>
                            <li><a id="logout_link" class="dropdown-item" href="/account/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        {{/if}}

        {{{body}}}

        {{!-- Loading Spinner --}}
        <div id="loading_spinner" class="overlay" style="display: none">
            <div id="loading_icon" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        {{!-- Sign Up Confirmation Toast --}}
        <div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="account_creation_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Account created! Please login.
                    </div>
                    <button id="confirmation_toast_close_btn" type="button"
                        class="btn-close me-2 m-auto btn-close-white" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

        {{!-- Error Toast --}}
        <div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="error_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="error_toast_body" class="toast-body">
                        Server Error. Please try again.
                    </div>
                    <button id="error_toast_close_btn" type="button" class="btn-close me-2 m-auto btn-close-white"
                        data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>

        {{! Login Modal }}
        <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title w-100 text-center" id="loginModalLabel">Log In</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="log_in_form" class="row g-3 needs-validation" novalidate>
                            <div class="col-12 mt-3">
                                <label for="log_in_username" class="form-label">Username</label>
                                <input id="log_in_username" type="text" class="form-control">
                                <div id="log_in_username_error" class="invalid-feedback"></div>
                            </div>
                            <div class="col-12 mt-3">
                                <label for="log_in_password" class="form-label">Password</label>
                                <input id="log_in_password" type="password" class="form-control" required>
                                <div id="log_in_password_error" class="invalid-feedback"></div>
                            </div>
                            <div id="login_request_error" class="w-100 text-center"></div>
                            <div class="col-12 w-100 text-center">
                                <button id="log_in_form_btn" class="btn btn-dark w-100 mb-3" type="submit">Log
                                    In</button>
                                <div id="no-account-link">
                                    <a data-bs-target="#sign-up-modal" data-bs-toggle="modal">Don't
                                        have an account?
                                        Click here to Sign Up.</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{! Sign Up Modal }}
        <div class="modal fade" id="sign-up-modal" data-bs-backdrop="static" tabindex="-1"
            aria-labelledby="sign_up_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title w-100 text-center" id="sign_up_modal_label">Sign Up</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="sign_up_form" class="row g-3 needs-validation" novalidate>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="first_name" class="form-label">First name</label>
                                    <input id="first_name" type="text" class="form-control" value="" required>
                                    <div id="first_name_error" class="invalid-feedback"></div>
                                </div>
                                <div class="col">
                                    <label for="last_name" class="form-label">Last name</label>
                                    <input id="last_name" type="text" class="form-control" value="" required>
                                    <div id="last_name_error" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="email" class="form-label">Email Address</label>
                                    <input id="email" type="text" class="form-control" value="" required>
                                    <div id="email_error" class="invalid-feedback"></div>
                                </div>
                                <div class="col">
                                    <label for="sign_up_username" class="form-label">Username</label>
                                    <input id="sign_up_username" type="text" class="form-control" value=""
                                        maxlength="30" required>
                                    <div id="username_help" class="form-text">Must be under 30 characters.</div>
                                    <div id="sign_up_username_error" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="sign_up_password" class="form-label">Password</label>
                                    <input id="sign_up_password" type="password" class="form-control" required>
                                    <div id="passwordHelp" class="form-text">Must be at least 8 characters.</div>
                                    <div id="sign_up_password_error" class="invalid-feedback"></div>
                                </div>
                                <div class="col">
                                    <label for="confirm_password" class="form-label">Confirm Password</label>
                                    <input id="confirm_password" type="password" class="form-control" required>
                                    <div id="confirm_password_error" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="phone_number" class="form-label">Phone Number</label>
                                    <input id="phone_number" type="text" class="form-control" required>
                                    <div id="phone_number_error" class="invalid-feedback"></div>
                                </div>
                                <div class="col">
                                    <label for="date_of_birth" class="form-label">Date of Birth</label>
                                    <input id="date_of_birth" class="form-control" type="date" required>
                                    <div id="date_of_birth_error" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <label for="address" class="form-label">Address</label>
                                <input id="address" type="text" class="form-control" placeholder="1234 Main Street"
                                    required>
                                <div id="address_error" class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="city" class="form-label">City</label>
                                <input id="city" type="text" class="form-control" required>
                                <div id="city_error" class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 mt-3">
                                <label for="state" class="form-label">State</label>
                                <select id="state" class="form-select" required>
                                    <option value="">Choose</option>
                                </select>
                                <div id="state_error" class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-3 mt-3">
                                <label for="zip" class="form-label">Zip Code</label>
                                <input id="zip" type="text" class="form-control" maxlength="5"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                    required>
                                <div id="zip_error" class="invalid-feedback"></div>
                            </div>
                            <div id="sign_up_request_error" class="w-100 text-center"></div>
                            <div class="col-12 w-100 text-center">
                                <button id="sign_up_form_btn" class="btn btn-dark w-100 mb-3" type="submit">Sign
                                    Up</button>
                                <div id="already-have-account-link">
                                    <a data-bs-target="#login-modal" data-bs-toggle="modal">
                                        Already have
                                        an account? Click here to Log in.</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="/public/js/appointments_scripts.js"></script>
    <script src="/public/js/auth.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script src="/public/js/comments.js"></script>
    {{#if jsURL}}
    <script src={{jsURL}}></script>
    {{/if}}
    <footer class="text-center text-lg-start bg-light text-muted">Final Project-CS546_WS, 2022</footer>
</body>

</html>