<!-- account.handlebars -->
<h1>My Account</h1>
<div class="user-details">
    <div class="user-info">
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Username:</strong> {{username}}</p>
        <p><strong>First Name:</strong> {{firstname}}</p>
        <p><strong>Last Name:</strong> {{lastname}}</p>
        <p><strong>Birth Date:</strong> {{birthdate}}</p>
       
    </div>
</div>