<div class="container">
  <h1 class="my-4 text-center mt-5">Upcoming Events</h1>

  <div class="row">
    {{#each events}}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100" data-event-id="{{this._id}}">
          <img src="/uploads/user-uploaded-images/{{this.imageFileName}}" class="card-img-top" alt="{{this.eventName}} Image">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/event/{{this._id}}" class="event-link">{{this.eventName}}</a>
            </h5>
            <p class="card-text"><strong>Location:</strong> {{this.eventLocation}}</p>
            <p class="card-text"><strong>Description:</strong> {{this.description}}</p>
            <p class="card-text"><strong>Date:</strong> {{this.eventDate}}</p>
            <p class="card-text"><strong>Time:</strong> {{this.eventTime}}</p>
            <p class="card-text"><strong>Cost:</strong> ${{this.cost}}</p>
            <p class="card-text"><small class="text-muted">Posted by: {{this.eventUsername}}</small></p>
          </div>
          {{#if ../username}}
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-interested btn-block">Interested</button>
            <p class="text-center mt-2"><small>{{this.interestCount}} users are interested in this event!</small></p>
          </div>
            {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const interestedButtons = document.querySelectorAll('.btn-interested');
    console.log(interestedButtons);

    if (interestedButtons) {
      interestedButtons.forEach(function (interestedButton) {
        interestedButton.addEventListener('click', function (event) {
          try {
            // Find the closest parent element with the class 'card'
            var card = interestedButton.closest('.card');

            // Retrieve the event ID from the data attribute of the card
            var eventId = card.dataset.eventId;

            // Check if eventId is retrieved successfully
            if (!eventId) {
              console.error('Error: eventId is not retrieved.');
              return;
            }

            // AJAX POST request to submit the comment
            $.ajax({
              type: 'POST',
              url: '/toggleInterestButton/' + eventId,
              success: function (response) {
                // Handle the success response from the server if needed
                console.log(response);

                // Toggle the 'btn-success' class to change the button color
                interestedButton.classList.toggle('btn-success');
              },
              error: function (error) {
                console.error('Error toggling button:', error);
                // Handle errors here (e.g., display an error message)
              }
            });
          } catch (err) {
            console.error('Unexpected error:', err);
          }
        });
      });
    }
  });
</script>
