<style>
  /* Custom styles for the events section */
  .card {
    transition: transform 0.3s ease-in-out;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
  }

  .card-title a {
    color: black; /* Updated color for the event name */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 1.5rem;
  }

  .card-title a:hover {
    color: #f44336;
  }

  .card-body {
    padding: 20px;
  }

  .card-footer {
    background-color: #f8f9fa;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 20px;
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .interest-count {
    color: #6c757d;
    font-size: 0.9rem;
  }
</style>

<div class="container">
  <h1 class="my-4 text-center mt-5">Upcoming Events</h1>

  <div class="row">
    {{#each events}}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100" data-event-id="{{this._id}}">
        <img src={{this.eventImage}} class="card-img-top" alt="{{this.eventName}} Image">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/event/{{this._id}}" class="event-link">{{this.eventName}}</a>
          </h5>
          <p class="card-text"><strong>Location:</strong> {{this.eventLocation}}</p>
          <p class="card-text"><strong>Description:</strong> {{this.description}}</p>
          <p class="card-text"><strong>Date:</strong> {{this.eventDate}}</p>
          <p class="card-text"><strong>Time:</strong> {{this.eventTime}}</p>
          <p class="card-text"><strong>Cost:</strong> ${{this.cost}}</p>
          <p class="card-text"><small class="text-muted">Posted by: {{this.eventUsername}}</small></p>
        </div>
        {{#if ../username}}
        <div class="card-footer">
          <button type="button" class="btn btn-primary btn-interested btn-block">Interested</button>
          <p class="text-center mt-2 interest-count" data-initial-count="{{this.interestCount}}"><small>{{this.interestCount}} users are interested in this event!</small></p>
        </div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const eventCards = document.querySelectorAll('.card');

  eventCards.forEach(function (card) {
    var eventId = card.dataset.eventId;

    // Redirect to the event page when the card is clicked
    card.addEventListener('click', function () {
      window.location.href = '/event/' + eventId;
    });


  });
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const eventCards = document.querySelectorAll('.card');

  eventCards.forEach(function (card) {
    var eventId = card.dataset.eventId;
    var interestedButton = card.querySelector('.btn-interested');
    var interestCountElement = card.querySelector('.interest-count');

    // checking if the user is interested in the event then make the button green
    $.ajax({
      type: 'GET',
      url: '/checkInterstedUser/' + eventId,
      success: function (response) {
        if (response.interstedUser === true) {
          interestedButton.classList.add('btn-success');
        }
      },
      error: function (error) {
        console.error('Error checking interest:', error);
        // Handle errors here
      }
    });

    // Display initial interest count with correct singular or plural form
    if (interestCountElement) {
      var interestCount = interestCountElement.dataset.initialCount;
      var interestText = interestCount === '1' ? 'user is' : 'users are';
      interestCountElement.textContent = interestCount + ' ' + interestText + ' interested in this event!';
      interestCountElement.style.fontSize = 'small'; // Set font size inline
    }

    // Redirect to the event page when the card is clicked
    card.addEventListener('click', function () {
      window.location.href = '/event/' + eventId;
    });

    // Adding event listener for the interested button
    interestedButton.addEventListener('click', function (event) {
      event.stopPropagation(); // Stop the event from propagating to the card click event
      $.ajax({
        type: 'POST',
        url: '/toggleInterestButton/' + eventId,
        success: function (response) {
          interestedButton.classList.toggle('btn-success');
          if (interestCountElement) {
            var interestCount = response.interestCount;
            var interestText = interestCount === 1 ? 'user is' : 'users are';
            interestCountElement.textContent = interestCount + ' ' + interestText + ' interested in this event!';
            interestCountElement.style.fontSize = 'small'; // Set font size inline
          }
        },
        error: function (error) {
          console.error('Error toggling button:', error);
          // Handle errors here
        }
      });
    });
  });
});
</script>
