{{!-- <div class="container">
  <h1 class="my-4 text-center">Upcoming Events</h1>

  <div class="row">
    {{#each events}}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{eventName}}</h5>
            <p class="card-text"><strong>Location:</strong> {{eventLocation}}</p>
            <p class="card-text"><strong>Description:</strong> {{description}}</p>
            <p class="card-text"><strong>Date:</strong> {{eventDate}}</p>
            <p class="card-text"><strong>Time:</strong> {{eventTime}}</p>
            <p class="card-text"><strong>Cost:</strong> ${{cost}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div> --}}

<div class="container">
  <h1 class="my-4 text-center">Upcoming Events</h1>

  <div class="row">
    {{#each events}}
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/uploads/user-uploaded-images/{{imageFileName}}" class="card-img-top" alt="{{eventName}} Image">
          <div class="card-body">
            <h5 class="card-title">{{eventName}}</h5>
            <p class="card-text"><strong>Location:</strong> {{eventLocation}}</p>
            <p class="card-text"><strong>Description:</strong> {{description}}</p>
            <p class="card-text"><strong>Date:</strong> {{eventDate}}</p>
            <p class="card-text"><strong>Time:</strong> {{eventTime}}</p>
            <p class="card-text"><strong>Cost:</strong> ${{cost}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
