<h1 class="heading">Reschedule Appointment</h1>
{{#unless hasError}}
<form action="/appointments/update/{{appointmentId}}" method="POST">
    <label for="doctorId"></label>
    <input id="doctorId" type="text" name="doctorId" placeholder="doctorId" value={{doctorId}} hidden>
    <label for="userId"></label>
    <input id="userId" type="text" name="userId" placeholder="userId" value={{userId}} hidden>

    <input id="appointmentId" type="text" name="appointmentId" placeholder="appointmentId" value={{appointmentId}}
        hidden>

    <div>
        <label class="apointmentLable" for="doctorName">Doctor</label>

        <input id="doctorName" type="text" name="doctorName" placeholder="doctorName" value="{{doctorName}}" readonly>
    </div>
    <div>
        {{#if aptDatePrv}}
        <label for="aptDatePrv"></label>
        <input id="aptDatePrv" type="text" name="aptDatePrv" placeholder="aptDatePrv" value="{{aptDatePrv}}" hidden>
        <input id="aptTimePrv" type="text" name="aptTimePrv" placeholder="aptTimePrv" value="{{aptTimePrv}}" hidden>
        {{/if}}
    </div>
    <div class="apointmentDiv">
        <label class="apointmentLable" for="aptDate">DateTime </label>
        <input id="aptDate" type="text" name="aptDate" value={{aptDate}} readonly>
        <label  for="aptTime"></label>
        <input id="aptTime" type="text" name="aptTime" value={{aptTime}} readonly>

        {{#if rescheduleFlag}}
        <button class="btn btn-primary btn-sm" type="submit" formmethod="POST"
            formaction="/appointments/doctorcalendar/reschedule/{{doctorId}}">Change Date</button>
        {{/if}}
    </div>
    <div class="apointmentDiv">
        <label class="apointmentLable" for="message">Message </label>
        <input id="message" type="text" name="message" placeholder="message" value="{{message}}" readonly>
    </div>
    <div class="apointmentDiv">
        <label class="apointmentLable" for="conditions">Conditions </label>
        <input id="conditions" type="text" name="conditions" placeholder="conditions" value="{{conditions}}" readonly>
    </div>
    {{#unless rescheduleFlag}}
    <button class="btn btn-primary btn-sm" type="submit">Reschedule</button>
    {{/unless}}
</form>
<div class="apointmentDiv">
    <a class="btn btn-primary" href="/appointments/userappointmentlist/{{userId}}" role="button">Back to Patient
        Home</a>
</div>
{{/unless}}

<!-- Error Part-->
 {{#if hasError}}
<div class="apt_error_span">
   
    <label for="doctorId"></label>
    {{#if doctorId}}
    <input id="doctorId" type="text" name="doctorId" placeholder="" value={{doctorId}} hidden>
    {{else}}
    <input id="doctorId" type="text" name="doctorId" placeholder="" value="" hidden>
    {{/if}}
    <label for="userId"></label>
    {{#if userId}}
    <input id="userId" type="text" name="userId" placeholder="" value={{userId}} hidden>
    {{else}}
    <input id="userId" type="text" name="userId" placeholder="" value="" hidden>
    {{/if}}
    {{#if appointmentId}}
    <input id="appointmentId" type="text" name="appointmentId" placeholder={{appointmentId}} value="" hidden>
    {{else}}
    <input id="appointmentId" type="text" name="appointmentId" placeholder="" value="" hidden>
    {{/if}}
    <div>
        <label class="apointmentLable" for="doctorName">Doctor</label>
        {{#if doctorName}}
        <input id="doctorName" type="text" name="doctorName" placeholder="" value="{{doctorName}}" readonly>
        {{else}}
        <input id="doctorName" type="text" name="doctorName" placeholder="" value="" readonly>
        {{/if}}
    </div>
    <div>
        {{#if aptDatePrv}}
        <label for="aptDatePrv"></label>
        <input id="aptDatePrv" type="text" name="aptDatePrv" placeholder="aptDatePrv" value="{{aptDatePrv}}" hidden>
        <input id="aptTimePrv" type="text" name="aptTimePrv" placeholder="aptTimePrv" value="{{aptTimePrv}}" hidden>
        {{/if}}
    </div>
    <div class="apointmentDiv">
        <label class="apointmentLable" for="aptDate">DateTime </label>
        {{#if aptDate}}
        <input id="aptDate" type="text" name="aptDate" value={{aptDate}} readonly>
        {{else}}
        <input id="aptDate" type="text" name="aptDate" value="" readonly>
        {{/if}}
        <label  for="aptTime"></label>
        {{#if aptTime}}
        <input id="aptTime" type="text" name="aptTime" value={{aptTime}} readonly>
        {{else}}
        <input id="aptTime" type="text" name="aptTime" value="" readonly>
        {{/if}}

        {{#if rescheduleFlag}}
        <button class="btn btn-primary btn-sm" type="submit" formmethod="POST"
            formaction="/appointments/doctorcalendar/reschedule/{{doctorId}}">Change Date</button>
        {{/if}}
    </div>
    <div class="apointmentDiv">
        <label class="apointmentLable" for="message">Message </label>
        {{#if message}}
        <input id="message" type="text" name="message" placeholder="" value="{{message}}" readonly>
        {{else}}
        <input id="message" type="text" name="message" placeholder="" value="" readonly>
        {{/if}}
    </div>
    <div class="apointmentDiv">
        <label class="apointmentLable" for="conditions">Conditions </label>
        {{#if conditions}}
        <input id="conditions" type="text" name="conditions" placeholder="" value="{{conditions}}" readonly>
        {{else}}
        <input id="conditions" type="text" name="conditions" placeholder="" value="" readonly>
        {{/if}}
    </div>

    <span class="apt_error_class">Error:{{errorMessage}}</span>

</div>
<div class="apointmentDiv">
    <a class="btn btn-primary" href="/" role="button">Create New Appointment</a>
</div>
{{/if}}