<h1 class="heading">Appointment Creation</h1>
{{#unless hasError}}
<form action="/appointments/{{userId}}" method="POST">
<!--<label for="doctorId"></label>-->
<input id="doctorId" type="text" name="doctorId" placeholder="doctorId" value = {{doctorId}}  hidden>
<div class="apointmentDiv">
<label class = "apointmentLable" for="doctorName">Doctor</label>
<input id="doctorName" type="text" name="doctorName" placeholder="doctorName" value = "{{doctorName}}" readonly>
</div>
<div class="apointmentDiv">
<label class = "apointmentLable" for="userFullName">Patient</label>
<input id="userFullName" type="text" name="userFullName" placeholder="userFullName" value = "{{userFullName}}"  readonly>
</div>
<div class="apointmentDiv">
<label class = "apointmentLable" for="aptDate">DateTime  </label>
<input id="aptDate" type="text" name="aptDate"  value = {{aptDate}} readonly>
<label for="aptTime"></label>
<input id="aptTime" type="text" name="aptTime"  value = {{aptTime}} readonly>

{{#if rescheduleFlag}}
<button class="btn btn-primary btn-sm" type="submit" formmethod = "POST" formaction="/doctors/reschedule/{{doctorId}}">Change Date</button>
{{/if}}
</div>
<div class="apointmentDiv">
<label class = "apointmentLable" for="message">Message</label>
<input id="message" type="text" name="message" placeholder="message"   >
</div>

<div class="apointmentDiv">
<label class = "apointmentLable" for="conditions">Conditions </label>
<input id="conditions" type="text" name="conditions" placeholder="conditions"   >
</div>
<button class="btn btn-primary btn-sm" type="submit">Book</button>
</form>
{{/unless}}

<!--- Error Part --->
{{#if hasError}}
<div class="apt_error_span">
<form action="/appointments/{{userId}}" method="POST">
<!--<label for="doctorId"></label>-->
{{#if doctorId}}
<input id="doctorId" type="text" name="doctorId" placeholder="" value = "{{doctorId}}"  hidden>
{{else}}
<input id="doctorId" type="text" name="doctorId" placeholder="" value = ""  hidden>
{{/if}}
<div class="apointmentDiv">

<label class = "apointmentLable" for="doctorName">Doctor</label>
{{#if doctorName}}
<input id="doctorName" type="text" name="doctorName" placeholder="" value = "{{doctorName}}" readonly>
{{else}}
<input id="doctorName" type="text" name="doctorName" placeholder="" value = "" readonly>
{{/if}}
</div>
<div class="apointmentDiv">
<label class = "apointmentLable" for="userFullName">Patient</label>
{{#if userFullName}}
<input id="userFullName" type="text" name="userFullName" placeholder="" value = "{{userFullName}}"  readonly>
{{else}}
<input id="userFullName" type="text" name="userFullName" placeholder="" value = ""  readonly>
{{/if}}
</div>
<div class="apointmentDiv">
<label class = "apointmentLable" for="aptDate">DateTime  </label>
{{#if aptDate}}
<input id="aptDate" type="text" name="aptDate"  value = {{aptDate}} readonly>
{{else}}
<input id="aptDate" type="text" name="aptDate"  value = "" readonly>
{{/if}}
<label for="aptTime"></label>
{{#if aptTime}}
<input id="aptTime" type="text" name="aptTime"  value = {{aptTime}} readonly>
{{else}}
<input id="aptTime" type="text" name="aptTime"  value = "" readonly>
{{/if}}

{{#if rescheduleFlag}}
<button class="btn btn-primary btn-sm" type="submit" formmethod = "POST" formaction="/doctors/reschedule/{{doctorId}}">Change Date</button>
{{/if}}
</div>
<div class="apointmentDiv">
<label class = "apointmentLable" for="message">Message</label>
{{#if message}}
<input id="message" type="text" name="message" placeholder=""  value = "{{message}}"  >
{{else}}
<input id="message" type="text" name="message" placeholder=""   value ="" >
{{/if}}
</div>

<div class="apointmentDiv">
<label class = "apointmentLable" for="conditions">Conditions </label>

{{#if conditions}}
<input id="conditions" type="text" name="conditions" placeholder=""  value = "{{conditions}}"  >
{{else}}
<input id="conditions" type="text" name="conditions" placeholder=""   value ="" >
{{/if}}

</div>
<button class="btn btn-primary btn-sm" type="submit">Book</button>
</form>
<span class="apt_error_class">Error:{{errorMessage}}</span>


</div>
<div class="apointmentDiv">
<!--<a href="/appointments/userappointmentlist/{{userId}}" id="PatientHomeLink" >Back to PatietHome</a>-->
<a class="btn btn-primary" href="/" role="button">Create New Appointment</a>
</div>
{{/if}}