<!-- 
<h1>{{title}}</h1>-->
<h2>{{doctorId}}</h2>
<form>
  
    {{#if timeSlotList.length}}
    <ul class="doc_calendar_ul">
        {{#each timeSlotList}}

        <li class="doc_calendar_li"> {{dt}}
            <div>
             {{#each tm}}
             {{#if ../../rescheduleFlag}}
             <button class="btn btn-success btn-xs" type="submit" formmethod = "POST" formaction="/appointments/reschedule/{{../../doctorId}}/{{../dt}}/{{this}}">{{this}}</button>
             {{else}}
             <button class="btn btn-success btn-xs" type="submit" formmethod = "GET" formaction="/appointments/schedule/{{../../doctorId}}/{{../dt}}/{{this}}">{{this}}</button>
             {{/if}}
             {{/each}}
             </div>
        </li>

        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{doctorId}}.</p>
    {{/if}}
    {{#if rescheduleFlag}}
    <input name= 'appointmentId' value={{appointmentId}} hidden>
    <input name= 'aptDatePrvRs' value={{aptDatePrv}} hidden>
    <input name= 'aptTimePrvRs' value={{aptTimePrv}} hidden>
    <input name= 'messagePrvRs' value={{messagePrv}} hidden>
    <input name= 'conditionsPrvRs' value={{conditionsPrv}} hidden>
    {{/if}}
</form>
{{#if hasError}}
<p >Error:{{errorMessage}}</p>
{{/if}}
