<h1>
    <a class="speciality" href="/doctor/speciality/{{doctor.speciality}}">{{doctor.speciality}}</a>
</h1>
<dl>
    <dt class="name">{{doctor.name}}</dt>
    <dd>
        {{#if doctor.profilePicture}}
        <img alt="image" src={{doctor.profilePicture}} />
        {{else}}
        <img alt="image"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" />
        {{/if}}
    </dd>

    <dt>About</dt>
    <dd>{{doctor.about}}</dd>
    <dt>Languages</dt>
    {{#if doctor.languages.length}}
    <dd>
        <ul>
            {{#each doctor.languages}}
            <li class="language">{{this}}</li>

            {{/each}}
        </ul>
    </dd>
    {{else}}
    <dd>N/A</dd>
    {{/if}}
    <dt>Address</dt>
    <dd>{{doctor.address}}</dd>
    <dt>City, State, Zipcode</dt>
    <dd>{{doctor.city}}, {{doctor.state}}, {{doctor.zip}}</dd>
    <dt>Rating</dt>
    {{#if this.doctor.rating}}
    <dd>{{this.doctor.rating}} Stars</dd>
    {{else}}
    <dd>Doctor has not been rated yet</dd>
    {{/if}}
    <dt>Reviews</dt>
    {{#if reviews.length}}
    <dd>
        <ul>
            {{#each reviews }}
            <li class="reviews">
                <p class="userName">Username: {{this.username}}</p>

                <p class="Rating">Rating: {{this.rating}} Stars</p>

                <p class="reviewText">ReviewText: {{this.reviewText}}</p>

                <form action="/doctor/deleteReview" method="POST">
                    <input type="hidden" name="doctorID" value={{this.doctorID}} />
                    <input type="hidden" name="userID" value={{this.userID}} />
                    <button type="submit">Delete Review</button>
                </form>

                {{#if this.comments.length}}
                <p class="commentLabel">Comments:</p>
                <ul>
                    {{#each this.comments}}
                    <li class="comments">
                        <p class="userName">Username: {{this.username}}</p>

                        <p class="commentText">Comment: {{this.commentText}}</p>


                        <p class="likes">Likes: {{this.likes.length}}</p>
                        <p class="dislikes">Dislikes: {{this.dislikes.length}}</p>

                        <form action="/comment/addLike/{{../this._id}}/{{../this.doctorID}}/{{this.commentID}}"
                            method="POST">
                            <button type="submit" class="like">Like</button>
                        </form>

                        <form action="/comment/addDislike/{{../this._id}}/{{../this.doctorID}}/{{this.commentID}}"
                            method="POST">
                            <button type="submit" class="dislike">Dislike</button>
                        </form>
                    </li>
                    {{/each}}
                </ul>
    {{/if}}
    <li>
    <form action="/comment/addComment/{{this._id}}/{{this.doctorID}}" method="POST">
        <label for="new-comment-{{this._id}}" class="commentLabel">Add a comment to this review</label>
        <input type="text" id="new-comment-{{this._id}}" name="commentText" class="new-commentText" />
        <button type="submit">Post Comment</button>
    </form>
   </li>



    {{/each }}
    </ul>


    {{else}}
    <dd>Currently there are no reviews for this doctor</dd>
    {{/if}}
    <dd>
    <div id="addReview" class=addingReview>
        <form action="/doctor/addReview" method="POST">
            <label class="rating-label">Stars
                <input name="rating" class="rating" max="5"
                    oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" step="1" style="--value:0"
                    type="range" value="0">
            </label>

            <label for="new-review">Add a review to this Doctor</label>
            <input type="text" id="new-review" name="reviewText" />

            <input type="hidden" name="doctorID" value={{doctor._id}} />

            <button type="submit">Post review</button>
        </form>
    </div>
    </dd>
</dl>
<!--- Doc calendar integrated with doctor hompage-->
<h2 id="docCalendarIndivPg">Doctor calendar</h2>

    <form>

        {{#if doctor.timeSlots.length}}
        <ul class="doc_calendar_ul">
            {{#each doctor.timeSlots}}

            <li class="doc_calendar_li"> {{dt}}
                <div>
                    {{#each tm}}
                    {{#if ../../rescheduleFlag}}
                    <button class="btn btn-success btn-xs" type="submit" formmethod="POST"
                        formaction="/appointments/reschedule/{{toString ../../doctor._id}}/{{../dt}}/{{this}}">{{this}}</button>
                    {{else}}
                    <button class="btn btn-success btn-xs" type="submit" formmethod="GET"
                        formaction="/appointments/schedule/{{toString ../../doctor._id}}/{{../dt}}/{{this}}">{{this}}</button>
                    {{/if}}
                    {{/each}}
                </div>
            </li>

            {{/each}}
        </ul>
        {{else}}
        <p class="not-found">We're sorry, but no results were found for {{doctorId}}.</p>
        {{/if}}
        {{#if rescheduleFlag}}
        <input name='appointmentId' value={{appointmentId}} hidden>
        <input name='aptDatePrvRs' value={{aptDatePrv}} hidden>
        <input name='aptTimePrvRs' value={{aptTimePrv}} hidden>
        <input name='messagePrvRs' value="{{messagePrv}}" hidden>
        <input name='conditionsPrvRs' value="{{conditionsPrv}}" hidden>
        {{/if}}
    </form>


    {{#if hasError}}
    <p>Error:{{errorMessage}}</p>
    {{/if}}