<h1 id="speciality_heading">Top Rated {{spec}}s</h1>

{{#if docs.length}}
<ul>
    {{#each docs}}
    <li>
        <dl>
            <dt> <a class="name" href="/doctor/{{this._id}}">{{this.name}}</a>
            </dt>
            <dd>
                {{#if this.profilePicture}}
                <img alt="image" src={{this.profilePicture}} />
                {{else}}
                <img alt="image" src="/public/images/defaultProfilePicture.jpeg" />
                {{/if}}
            </dd>
            <dt>About</dt>
            <dd>{{this.about}}</dd>
            <dt>Languages</dt>
            {{#if this.languages.length}}
            <dd>
                <ul>
                    {{#each this.languages}}
                    <li class="language">{{this}}</li>

                    {{/each}}
                </ul>
            </dd>
            {{else}}
            <dd>N/A</dd>
            {{/if}}
            <dt>Address</dt>
            <dd>{{this.address}}</dd>
            <dt>City, State, Zipcode</dt>
            <dd>{{this.city}}, {{this.state}}, {{this.zip}}</dd>
            <dt>Rating</dt>
            {{#if this.rating}}
            <dd>{{this.rating}} Stars</dd>
            {{else}}
            <dd>Doctor has not been rated yet</dd>
            {{/if}}
        </dl>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="not-found">We're sorry, but there are no current Doctors.</p>
{{/if}}